<!-- FOOTER 1 -->
{% load static %}

<footer id="hm__footer">
            <section id="hm__footer__top">
                <header id="hm__footer__top__address">
                    <div class="hm__footer__top__address__icon"><i class="fas fa-map-marker-alt" style="color: rgb(18, 119, 3);"></i></div>
                    <div class="hm__footer__top__address__txt">
                        Lugbe Federal Housing
                        <br/> Opposite Siamatrix Event Center, Abuja.
                    </div>
                </header>
                <div id="hm__footer__top__cont__info__div">
                    <header id="hm__footer__cont__info__head">
                        Contact us
                    </header>
                    <section id="hm__footer__cont__info__dit">
                        <div class="hm__footer__top__cont__info">
                            <i class="fas fa-envelope" style="color: rgb(37, 36, 0);"></i>
                            <div class="hm__footer__top__cont__info__txt"><a href="mailto:leoklems@aol.com">leoklems@aol.com</a></div>
                        </div>
                        <div class="hm__footer__top__cont__info">
                            <i class="fas fa-phone" style="color: rgb(202, 181, 128);"></i>
                            <div class="hm__footer__top__cont__info__txt"><a href="tel:+234 809 349 0689">+234 809 349 0689</a></div>
                        </div>
                        <div class="hm__footer__top__cont__info">
                            <i class="fab fa-whatsapp" aria-hidden="true" style="color: rgb(28, 230, 14);"></i>
                            <div class="hm__footer__top__cont__info__txt"><a href="https://wa.me/+234 809 349 0689">+234 809 349 0689</a></div>
                        </div>
                    </section>
                </div>
                <div id="hm__footer__top__socials__div">
                    <a class="hm__footer__top__socials__item" href="" style="color: blue;"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
                    <a class="hm__footer__top__socials__item" href="" style="color: rgb(7, 242, 234);"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a class="hm__footer__top__socials__item" href="" style="color: rgb(244, 8, 8);"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    <a class="hm__footer__top__socials__item" href="" style="color: rgb(255, 106, 0);"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                </div>
            </section>
            <section id="hm__footer__low">
                <span>© 2022 <span class="footer-brand">Royal</span> Modelz. All righrs reserved</span>
                <i>Design by <a href="">leoklems</a></i>
            </section>

        </footer>