{% extends 'staff/main.html' %}
{% load static %}
{% block title %}Update {{object.name}}'s Colors{% endblock %}

{% block content %}
    <main id="all__forms">
        {% include 'staff/header.html' %}
        <section id="forms__sec" class="mini_forms__sec">
         <article id="form__registration">
                <header>Update {{object.name}}'s colors</header>
                <form action="" id="sign__up" method="post">
                     {% csrf_token %}
                    <div class="signup__div" id="signup__username__div">
                        <input type="text" id="signup__username" placeholder="name" name="colors" value="{{object.colors}}">
                    </div>
                    <div id="form_ctrl_btns" class="form_ctrl_btns">
                        <a href="{% url 'store:staff_product_detail' object.product_id %}" class="form_ctrl_btn_back">Cancle</a>
                        <input type="submit" value="Update"  class="form_ctrl_btn_edit">
                    </div>

                </form>
            </article>
        </section>
    </main>
{% endblock %}

