{% extends 'staff/main.html' %}
{% load static %}
{% block title %}Update {{object}}{% endblock %}

{% block content %}
    <main id="all__forms">
        {% include 'staff/header.html' %}
        <section id="forms__sec" class="mini_forms__sec">
         <article id="form__registration">
                <header>Update {{object}}</header>
                <form id="sign__up" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    <div class="signup__div">
                        <label for="signup__dp" id="signup__dp__label">Product</label>
                        {{form.product}}
                    </div>
                    <div class="signup__div" id="signup__dp__div">
                        <label for="signup__dp" id="signup__dp__label"><i class="fas fa-camera"></i></label>
                        <input type="file" name="file" id="signup__dp" value="{{object.file}}>
                    </div>
                    <div class="signup__div checkbox__input">
                        <label for="signup__dp" id="form__login__remember__me">Lead DP</label>
                        {{form.lead}}
                    </div>
                    <div id="form_ctrl_btns" class="form_ctrl_btns">
                        <a href="{% url 'store:staff_product_detail' object.product.product_id %}" class="form_ctrl_btn_back">Cancle</a>
                        <input type="submit" value="Update"  class="form_ctrl_btn_edit">
                    </div>

                </form>
            </article>
        </section>
    </main>
{% endblock %}

