{% extends 'staff/main.html' %}
{% load static %}
{% block title %}Add Product{% endblock %}

{% block content %}
    <main id="all__forms">
        {% include 'staff/header.html' %}
        <section id="forms__sec" class="mini_forms__sec">
         <article id="form__registration">
                <header>Add new product category</header>
                <form id="sign__up" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    <div class="signup__div">
                        <label for="signup__dp" id="signup__dp__label">Product</label>
                        {{form.product}}
                    </div>
                    <div class="signup__div" id="signup__dp__div">
                        <label for="signup__dp" id="signup__dp__label"><i class="fas fa-camera"></i></label>
                        <input type="file" name="file" id="signup__dp">
                    </div>
                    <div class="signup__div checkbox__input">
                        <label for="signup__dp" id="form__login__remember__me">Lead DP</label>
                        {{form.lead}}
                    </div>
                    <input type="submit" value="Upload" id="add__submit">

                </form>
            </article>
        </section>
    </main>
{% endblock %}

