{% extends 'staff/main.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <main id="gall__main__main" class="dit__pg">
        {% include 'staff/header.html' %}
        {% include 'staff/navigation.html' %}

        <section id="table__sec">
            <article id="table__one">
                <header id="top__table__imgs">
                    <div id="top__table__imgs_cont">
                        {%for img in object.product_images.all %}
                        {% if img %}
                        <details class="top__table__img">
                            <summary>
                                <img src="{{img.file.url}}" alt="" class="hm_main_body_art_img">
                            </summary>
                            <p>
                                <div class="table__ctrl__btns">
                                    <a href="{% url 'store:update_product_image' img.id %}" class="tbl__btn__edit__b"><i class="far fa-edit"></i></a>
                                    <a href="{% url 'store:delete_product_img' img.id %}" class="tbl__btn__delete__b"><i class="fas fa-trash"></i></a>
                                </div>
                            <p>
                        </details>
                        {%else%}
                        {%endif%}
                        {%endfor%}
                    </div>
                </header>
                <section id="top__table__body">
                    <table>
                        <tbody id="table__one__body">
                            <tr>
                                <th>Name</th>
                                <th>{{object.name}}</th>
                                <th>
                                    <div class="table__ctrl__btns2">
                                        <a href="{% url 'store:update_product_name' object.product_id %}" class="tbl__btn__edit"><i class="far fa-edit"></i></a>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>Category </td>
                                <td>{{object.category}}</td>
                                <td>
                                    <div class="table__ctrl__btns2">
                                        <a href="{% url 'store:update_product_cat' object.product_id %}" class="tbl__btn__edit"><i class="far fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Brand </td>
                                <td>{{object.brand}}</td>
                                <td>
                                    <div class="table__ctrl__btns2">
                                        <a href="{% url 'store:update_product_brand' object.product_id %}" class="tbl__btn__edit"><i class="far fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>colors</td>
                                <td>{{object.colors}}</td>
                                <td>
                                    <div class="table__ctrl__btns2">
                                        <a href="{% url 'store:update_product_colors' object.product_id %}" class="tbl__btn__edit"><i class="far fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>sizes</td>
                                <td>{{object.sizes}}</td>
                                <td>
                                    <div class="table__ctrl__btns2">
                                        <a href="{% url 'store:update_product_sizes' object.product_id %}" class="tbl__btn__edit"><i class="far fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>&#8358; {{object.price}}</td>
                                <td>
                                    <div class="table__ctrl__btns2">
                                        <a href="{% url 'store:update_product_price' object.product_id %}" class="tbl__btn__edit"><i class="far fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Discount price</td>
                                <td>{% if object.discount_price %}&#8358; {{object.discount_price}}{%else%} - {%endif%}</td>
                                <td>
                                    <div class="table__ctrl__btns2">
                                        <a href="{% url 'store:update_product_discount_price' object.product_id %}" class="tbl__btn__edit"><i class="far fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </article>
        </section>
    </main>
{% endblock %}
